<% layout('layouts/boilerplate') -%>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form class='needs-validation' action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST"
                novalidate>
                <!-- <input type="text" name="id" value="<%= campground._id %>"> -->
                <div class='mb-2'>
                    <label class='form-label' for="title">Title</label>
                    <input class='form-control' type="text" name='campground[title]' value="<%= campground.title %>"
                        required>
                    <div class="invalid-feedback">
                        Title is required.
                    </div>
                </div>
                <div class='mb-2'>
                    <label class='form-label' for="location">Location</label>
                    <input class='form-control' type="text" name='campground[location]'
                        value='<%= campground.location %>' required>
                    <div class="invalid-feedback">
                        Location is required.
                    </div>
                </div>
                <div class='mb-2'>
                    <label for="image" class="form-label">Image Url</label>
                    <input name='campground[image]' type="text" class="form-control"
                        value='<%= campground.images[0] %>'>
                </div>
                <div class='mb-2'>
                    <label class='form-label' for="price">Price</label>
                    <div class='input-group'>
                        <span class="input-group-text">$</span>
                        <input class='form-control' type="text" name='campground[price]'
                            value="<%= campground.price %>">
                    </div>
                </div>

                <div class='mb-2'>
                    <label class='form-label' for="description">Description</label>
                    <textarea class='form-control' type="text"
                        name='campground[description]'><%= campground.description %></textarea>
                </div>
                <button class='btn btn-success mb-2'>Update Campground</button>
                <p>
                    <a class='btn btn-primary' href="/campgrounds/<%= campground.id %>">Back To Campground</a>
                </p>
            </form>
        </div>
    </div>
    </div>